name: "Update version number and publish to package repository."
run-name: "${{ inputs.noTag != 'true' && 'Bump/tag' || 'Bump' }} version (${{ inputs.patchlevel }}) ${{ inputs.noPublish == 'true' && 'on' || 'and publish'}} ${{ github.repository}}"
on:
  workflow_dispatch:
    inputs:
      patchlevel:
        type: choice
        description: 'Patch level'
        required: true
        default: 'prerelease'
        options:
        - 'prerelease'
        - 'patch'
        - 'minor'
        - 'major'
      noTag:
        description: 'Do not create a tag'
        default: false
        type: boolean
      noPublish:
        description: 'Do not publish'
        default: false
        type: boolean
      usePr:
        description: 'Force use of PR on parent branch to raise changes.'
        default: false
        type: boolean
    
permissions:
  contents: write
  packages: write

jobs:
  bump:
    name: "Bump version number and publish"
    env:
      NODE_CACHE_KEY: "npm-cache-${{ github.run_id }}-${{ github.run_number }}"
      NODE_VERSION: ${{ vars.NODE_VERSION }}
      NPM_VERSION: ${{ vars.NPM_VERSION }}
      NODE_AUTH_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
      REQUIRES_PR: false
    
    runs-on: ubuntu-latest
    steps:
      - name: Verify inputs
        env:
          REF_BRANCH: ${{ github.ref }}
          USE_PR_INPUT: ${{ inputs.usePr }}
        run: |
          if [ -z "${{ inputs.patchlevel }}" ]; then
            echo "Patch level is required."
            exit 1
          fi

          echo "Current branch: $REF_BRANCH"

          USE_PR=false
          if [ "$USE_PR_INPUT" = "true" ]; then
            USE_PR=true
          fi

          if [ "$REF_BRANCH" = "refs/heads/main" ]; then
            echo "Running on main branch."
            USE_PR=true
          fi

          echo "USE_PR=$USE_PR">> "$GITHUB_ENV"

      - name: Check out repository code
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }}

      - name: Common node/npm setup
        id: node-setup
        uses: tjsr/gh-util-actions/node-common-setup@main
        with:
          # token: ${{ secrets.PACKAGE_PUBLISH_TOKEN }}
          token: ${{ secrets.GITHUB_TOKEN }}
          scope: "@tjsr"
          cache-key: ${{ env.NODE_CACHE_KEY}}
          node-version: ${{ env.NODE_VERSION }}
          npm-version: ${{ env.NPM_VERSION }}

      - name: Bump and publish
        id: bump
        uses: tjsr/gh-util-actions/version-bump-publish@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          patchlevel: ${{ inputs.patchlevel }}
          no-tag: ${{ inputs.noTag }}
          no-publish: ${{ inputs.noPublish }}
          preid: ${{ github.ref != 'refs/heads/main' && 'dev' || 'release' }}
          requiresPr: ${{ env.USE_PR }}

      - name: "Confirm published: ${{ steps.bump.outputs.version }}"
        if: ${{ steps.bump.conclusion == 'success' }}
        run: |
          if [ -z "${{ steps.bump.outputs.version }}" ]; then
            echo "No version published"
            exit 1
          fi
          echo "Published: ${{ steps.bump.outputs.version }}"
